.live_contact{
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 24rpx;
}
.baseline{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 70rpx 0;
	
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #B3B3B3;
	line-height: 28rpx;
}