page{
	height: 100%;
}
.sort_content{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
}
.wantBuy{
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.5) ;
	z-index: 99999;
	.image{
		position: absolute;
		width: 560upx;
		height: 732upx;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: #FFFFFF;
		border-radius: 16px;
		.text{
			position: absolute;
			bottom: 48upx;
			left: 0;
			right: 0;
			margin: auto;
			display: inline-block;
			width: 464upx;
			height: 76upx;
			text-align: center;
			line-height: 76upx;
			background: #F8B500;
			border-radius: 38upx;
			font-size: 28upx;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: #FFFFFF;
		}
		.close{
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top:calc(732upx + 48upx) ;
			width: 64upx;
			height: 64upx;
		}
	}
}
.sort_header{
	width: 100%;
	.header{
		width: 100%;
		height: 88upx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 0 16upx 0 24upx;
		border-bottom: 2upx solid rgba(245,245,245,1);
		.searchIpt{
			width: 646upx;
			height:64upx;
			background:#F5F5F5;
			border-radius:32upx;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			padding: 0 24upx;
			.search{
				width: 32upx;
				height: 32upx;
			}
			text{
				font-size:28upx;
				color:rgba(179,179,179,1);
				line-height:28upx;
				margin-left: 16upx;
			}
		}
		.message{
			margin-left: 16upx;
			width: 80upx;
			height: 36upx;
		}
	}
}

.main_content{
	width: 100%;
	height: calc(100% - 88upx);
	/*  #ifdef  APP-PLUS  */
	height: calc(100% - 88upx - var(--status-bar-height));
	/*  #endif  */
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
	font-size: 28upx;
	.left{
		height: 100%;
		width: 144upx;
		box-sizing: border-box;
		padding: 0 8upx;
		.ul{
			height: 100%;
			display: flex;
			flex-direction: column;
			.item{
				flex: 1;
				font-size:24upx;
				color:#666666;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				.active{
					color:rgba(255,255,255,1);
					position: absolute;
					width:100%;
					height:56upx;
					display: flex;
					align-items: center;
					justify-content: center;
					background:rgba(248,181,0,1);
					border-radius:28upx;
				}
				// .active:before{
				// 	content: '';
				// 	position: absolute;
				// 	width:100%;
				// 	height:56upx;
				// 	left: 0;
				// 	top: 0;
				// 	z-index: -1;
				// 	transform: translateY(-55%);
				// 	background:rgba(248,181,0,1);
				// 	border-radius:28upx;
				// }
			}
		}
	}
	.main{
		height: 100%;
		width: 0;
		flex-grow: 1;
		box-sizing: border-box;
		.swiper{
			height: 100%;
			background:rgba(245,245,245,1);
		}
		.scroll{
			height: 100%;
			
		}
		.item{
			width: 606upx;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			padding: 20upx 20upx 50vh;
			.item_img{
				background:rgba(245,245,245,1);
				padding-bottom: 20upx;
				image{
					width:100%;
					border-radius:16upx;
					display: block;
				}
			}
			.item_ul{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				background:rgba(255,255,255,1);
				border-radius:16upx;
				box-sizing: border-box;
				padding: 24upx 24upx 36upx;
				.item_title{
					width: 100%;
					box-sizing: border-box;
					padding-left: 8upx;
					font-size:28upx;
					font-family:PingFangSC-Medium,PingFang SC;
					font-weight:500;
					color:rgba(51,51,51,1);
					line-height:28upx;
				}
				.item_li{
					width:calc(100% / 3);
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-top: 24upx;
					image{
						width:156upx;
						height:156upx;
						border-radius:8upx;
						margin-bottom: 16upx;
					}
					text{
						width:132upx;
						text-align: center;
						font-size:24upx;
						color:rgba(51,51,51,1);
						line-height:24upx;
						overflow:hidden;
						text-overflow: ellipsis;
						white-space:nowrap;
					}
				}
			}
			// .item_ul:after {
			// 	content: "";
			// 	flex: auto;
			// }
		}
	}
}