.agreement_content{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 24upx;
	box-sizing: border-box;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400; 
	.class{
		margin-top: 48upx;
	}
	.title{
		font-size:32upx;
		font-family:PingFangSC-Medium,PingFang SC;
		font-weight:500;
		line-height:32upx;
		color: #333333;
		margin-bottom: 48upx;
	}
	.list{
		font-size:28upx;
		line-height:42upx;
		color: #666666;
		margin-bottom: 36upx;
		text{
			color: #333333;
			font-family:PingFangSC-Medium,PingFang SC;
			font-weight:500;
		}
	}
}